#card-container {
  width: 290px;
  border-radius: 10px;
}

#card-product-name {
  text-transform: capitalize;
}

#card-image {
  height: 100px;
  width: 100px;
}

#card-product-description {
  text-transform: capitalize;
}